/* #ID */

#main {
  font-family: 'Orbitron', sans-serif;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  border: 5px solid black;
  border-radius: 35px;
  color: white;
}
#expression {
  color: orange;
}

/* .CLASS */

.button {
}
.button:hover {
  transform: scale(1.1);
}
.button:active {
  transform: scale(1.05);
  transition: 0.25;
  boxshadow: '3px 3px 5px black';
}
.buttonM {
  border: 1px solid black;
  border-radius: 15px;
}
.buttonM:active {
  transform: scale(0.85);
  transition: 0.25;
  boxshadow: '3px 3px 5px black';
}
.output {
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
}
.gridCol {
  display: grid;
  grid-temptale-columns: repeat(3, 1fr);
}
.arrowScroll {
  height: '100px';
  width: '100px';
  cursor: 'pointer';
  padding: '5px';
  position: 'fixed';
  right: '100px';
  bottom: '100px';
}

/* @MEDIA */

@media only screen and (max-width: 850px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 375px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 320px) {
  .gridCol {
    display: flex;
    flex-direction: column;
  }
  .arrowScroll {
    height: '50px';
    width: '50px';
    cursor: 'pointer';
    padding: '5px';
    position: 'fixed';
    right: '50px';
    bottom: '50px';
  }
}
